--
-- PostgreSQL database dump
--

-- Dumped from database version 17.2 (Debian 17.2-1.pgdg120+1)
-- Dumped by pg_dump version 17.2 (Debian 17.2-1.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: goals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.goals (
    "GOAL_ID" text,
    "MATCH_ID" text,
    "PID" text,
    "DURATION" bigint,
    "ASSIST" text,
    "GOAL_DESC" text
);


ALTER TABLE public.goals OWNER TO postgres;

--
-- Name: managers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.managers (
    "FIRST_NAME" text,
    "LAST_NAME" text,
    "NATIONALITY" text,
    "DOB" timestamp without time zone,
    "TEAM" text
);


ALTER TABLE public.managers OWNER TO postgres;

--
-- Name: matches; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.matches (
    "MATCH_ID" text,
    "SEASON" text,
    "DATE_TIME" text,
    "HOME_TEAM" text,
    "AWAY_TEAM" text,
    "STADIUM" text,
    "HOME_TEAM_SCORE" bigint,
    "AWAY_TEAM_SCORE" bigint,
    "PENALTY_SHOOT_OUT" bigint,
    "ATTENDANCE" bigint
);


ALTER TABLE public.matches OWNER TO postgres;

--
-- Name: players; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.players (
    "PLAYER_ID" text,
    "FIRST_NAME" text,
    "LAST_NAME" text,
    "NATIONALITY" text,
    "DOB" timestamp without time zone,
    "TEAM" text,
    "JERSEY_NUMBER" double precision,
    "POSITION" text,
    "HEIGHT" double precision,
    "WEIGHT" double precision,
    "FOOT" text
);


ALTER TABLE public.players OWNER TO postgres;

--
-- Name: stadiums; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stadiums (
    "NAME" text,
    "CITY" text,
    "COUNTRY" text,
    "CAPACITY" bigint
);


ALTER TABLE public.stadiums OWNER TO postgres;

--
-- Name: teams; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.teams (
    "TEAM_NAME" text,
    "COUNTRY" text,
    "HOME_STADIUM" text
);


ALTER TABLE public.teams OWNER TO postgres;

--
-- Data for Name: goals; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: managers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: matches; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: players; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stadiums; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- PostgreSQL database dump complete
--

